<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usc.lzh.doms.mapper.IndexMapper">
    <select id="findStudentUserByUid" resultType="Users" parameterType="java.lang.String">
        select * from suser
        where uid = #{uid}
    </select>
    <select id="findOtherUserByUid" resultType="Users" parameterType="java.lang.String">
        select * from duser
        where uid = #{uid}
    </select>

    <select id="isExistSUserForUidAndPwd" resultType="java.lang.Integer">
        select count(uid) from suser
        where uid = #{uid} and upwd = #{upwd}
    </select>

    <update id="updateSUserPassword" parameterType="java.lang.String">
        update suser
        set upwd = #{newPassword}
        where uid = #{uid}
    </update>

    <select id="isExistDUserForUidAndPwd" resultType="java.lang.Integer">
        select count(uid) from duser
        where uid = #{uid} and upwd = #{upwd} and utype = #{utype}
    </select>

    <update id="updateDUserPassword" parameterType="java.lang.String">
        update duser
        set upwd = #{newPassword}
        where uid = #{uid}
    </update>
</mapper>